## Create a table and insert a record ("row")

*Note: Using `CREATE TABLE` without `IF NOT EXISTS` will generate and OperationalError exception if table already exists. Use `CREATE TABLE IF NOT EXISTS` to circumvent this*

In [3]:
import sqlite3

conn = sqlite3.connect('training.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE IF NOT EXISTS stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

## Query and view inserted records

In [21]:
import sqlite3

conn = sqlite3.connect('training.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM stocks ORDER BY price'):
        print(row)

for row in c.execute('SELECT * FROM stocks ORDER BY price'):
        print(row[0], row[3])

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
2006-01-05 100.0
2006-01-05 100.0
2006-01-05 100.0
2006-01-05 100.0
2006-01-05 100.0
2006-01-05 100.0
2006-01-05 100.0
2006-01-05 100.0

## View all tables

In [4]:
import sqlite3

conn = sqlite3.connect('training.db')
c = conn.cursor()

print("ROWS>")
for row in c.execute('SELECT * FROM sqlite_master'):
    print(row)
    
for name in c.execute('SELECT name FROM sqlite_master'):
    print(name)

ROWS>
('table', 'stocks', 'stocks', 2, 'CREATE TABLE stocks\n             (date text, trans text, symbol text, qty real, price real)')
('stocks',)