# MySQL Examples

## Connect to a database server

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd"
)

print(mydb)
print(f"""
Hostname: {mydb.server_host}
Port: {mydb.server_port}
User: {mydb.user}
Timezone: {mydb.time_zone}
MySQL ver: {mydb.get_server_info()}
SQL Mode: {mydb.sql_mode}
Current DB: {mydb.database}
""")

# Version as a tuple
mydb.get_server_version()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DF853262E0>

Hostname: localhost
Port: 3306
User: lybekk
Timezone: SYSTEM
MySQL ver: 8.0.22
SQL Mode: STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
Current DB: None

## Create a database & show all DB's

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd"
)

mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE mydatabase")
mycursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

mycursor.close()
mydb.close()

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

## Create a table named "customers"

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE IF NOT EXISTS customers (name VARCHAR(35), address VARCHAR(255))")

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

mycursor.execute("SELECT * FROM customers")


for x in mycursor.fetchall():
    print(x)

mycursor.close()
mydb.close()

('John', 'Highway 21')
('John', 'Highway 21')

## Add a primary key column

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

mycursor.close()
mydb.close()

## Insert a record

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

mycursor.close()
mydb.close()

1 record inserted.

## Insert many

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

mycursor.close()
mydb.close()

## Query/View records

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers"
mycursor.execute(sql)

for row in mycursor:
    print(row)

mycursor.close()
mydb.close()

## Delete records

*Note: Escape values by using the placeholder %s method to avoid SQL Injection.*

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

mycursor.close()
mydb.close()

## Drop/delete table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

START TRANSACTION:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

mycursor.close()
mydb.close()

## Drop/delete database

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  # database="mydatabase" # Skipping database parameter
)

mycursor = mydb.cursor()

sql = "DROP DATABASE IF EXISTS mydatabase"

mycursor.execute(sql)
mycursor.execute("SHOW DATABASES")

mycursor.close()
mydb.close()

## Show columns

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SHOW COLUMNS FROM customers"
mycursor.execute(sql)

for x in mycursor:
    print(x)

mydb.close()

## UPDATE

### Copy table
Useful to make a copy of the table before making modifications.

```sql
CREATE TABLE new_table 
SELECT col, col2, col3 
FROM
    existing_table;
```

## Transaction

### Work in progress

### Check whether autocommit is set to true or false

In [ ]:
print

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SHOW COLUMNS FROM customers"
mycursor.execute(sql)

for x in mycursor:
    print(x)

mydb.close()

## Data aggregation

```sql
SELECT AVG(amount) AS 'Average payment amount'
FROM sakila.payment;
```

*Note: Column header is not visible here. I.E. By using Pandas, column headers can be printed*

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="sakila"
)

mycursor = mydb.cursor()

sql = "SELECT AVG(amount) AS 'Average payment amount' FROM sakila.payment;" # OR use single quotes 'Average payment amount'

mycursor.execute(sql)
result = mycursor.fetchall()

for i in result:
    print(i[0])

mydb.close()

## Return a dictionary from queries

Use `dictionary=True` to retrieve dictionaries with column names as keys, instead of "columnless" tuples

In [19]:
import mysql.connector

conn = mysql.connector.connect(
  host="localhost",
  user="lybekk",
  password="11234_4321password__PWD_PASS_WORD_p455w0rd",
  database="mydatabase"
)

mycursor = conn.cursor(dictionary=True)
sql = "SELECT * FROM customers"
mycursor.execute(sql)
rows = mycursor.fetchall()

print(rows)

for row in rows:
    print(row)

[{'name': 'John', 'address': 'Highway 21'}, {'name': 'John', 'address': 'Highway 21'}]
{'name': 'John', 'address': 'Highway 21'}
{'name': 'John', 'address': 'Highway 21'}